<div class="wrapper">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
  </div>

  <div>
    <p>(Select a location for more info)</p>
    <ul>

      <li *ngFor="let weather of weathers">
        <label (click)="displayWeatherDetail(weather)">{{weather.location?.name}}</label>
      </li>

    </ul>

  </div>
  <div *ngIf="selectedWeather">
    <h3>Details for weather in {{selectedWeather.location?.name}}</h3>
    <p>Temperature (F): {{selectedWeather.current?.temp_f}}</p>
    <p>Feels like (F): {{selectedWeather.current?.feelslike_f}}</p>
    <p>Condition: {{selectedWeather.current?.condition?.text}}</p>
    <p>Wind (mph): {{selectedWeather.current?.wind_mph}}</p>
  </div>

</div>
